In [3]:
import pandas as pd
import os

# read in df
fn = 'working_cats/data/breeds_data_final.pkl'
breeds = pd.read_pickle(fn)
breeds.head()

     age  gender  size  coat  breed                                image
260  3.0     1.0   2.0   3.0    1.0  American Bobtail/46407834_34198.jpg
261  3.0     1.0   2.0   3.0    1.0  American Bobtail/46407781_34210.jpg
264  0.0     0.0   2.0   3.0    1.0  American Bobtail/46330160_41521.jpg
266  1.0     1.0   1.0   1.0    1.0  American Bobtail/46289156_45141.jpg
267  3.0     0.0   3.0   3.0    1.0  American Bobtail/46194971_53315.jpg

In [4]:
# traditional CNN
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.utils import plot_model
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D

# resize images to 128x128