In [1]:
import pandas as pd

In [75]:
data = pd.read_csv('../Datasets/MapData-Evans-GP-Flatten.csv')

# Info
1. Remove ununsed columns
2. One-hot encoding categorical data
3. Calculate weight for each resource
4. Sum up resources by the given weight (The sum should be in \[0.0, 1.0\])
5. Remove resource columns

In [7]:
print('Shape', data.shape)

Shape (50901, 79)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50901 entries, 0 to 50900
Data columns (total 79 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Latitude °                    50901 non-null  int64
 1   Latitude                      50901 non-null  object
 2   Longitude °                   50901 non-null  int64
 3   Longitude                     50901 non-null  object
 4   Topography                    50901 non-null  object
 5   Difficulty Challenge          50901 non-null  int64
 6   Altitude                      50901 non-null  int64
 7   Temperature                   50901 non-null  int64
 8   Metals                        50901 non-null  int64
 9   Rare Metals                   50901 non-null  int64
 10  Concrete                      50901 non-null  int64
 11  Water                         50901 non-null  int64
 12  Dust Devils                   50901 non-null  int64
 13  Dust Storms                   50901 non-null  int64
 14  Meteors                       50901 non-null  int64
 15  Cold Waves                    50901 non-null  int64
 16  Map Name                      50901 non-null  object
 17  Named Location                11925 non-null  object
 18  Advanced Drone Drive          50901 non-null  bool
 19  Alien Imprints                50901 non-null  bool
 20  Ancient Terraforming Device   50901 non-null  bool
 21  Artificial Muscles            50901 non-null  bool
 22  Autonomous Hubs               50901 non-null  bool
 23  Cloning                       50901 non-null  bool
 24  Construction Nanites          50901 non-null  bool
 25  Core Metals                   50901 non-null  bool
 26  Core Rare Metals              50901 non-null  bool
 27  Core Water                    50901 non-null  bool
 28  Cryo-sleep                    50901 non-null  bool
 29  Designed Forestation          50901 non-null  bool
 30  Dome Streamlining             50901 non-null  bool
 31  Dry Farming                   50901 non-null  bool
 32  Eternal Fusion                50901 non-null  bool
 33  Extractor AI                  50901 non-null  bool
 34  Factory Automation            50901 non-null  bool
 35  Forever Young                 50901 non-null  bool
 36  Frictionless Composites       50901 non-null  bool
 37  Gem Architecture              50901 non-null  bool
 38  Gene Selection                50901 non-null  bool
 39  Giant Crops                   50901 non-null  bool
 40  Good Vibrations               50901 non-null  bool
 41  Hive Mind                     50901 non-null  bool
 42  Hull Polarization             50901 non-null  bool
 43  Hypersensitive Photovoltaics  50901 non-null  bool
 44  Inspiring Architecture        50901 non-null  bool
 45  Interplanetary Learning       50901 non-null  bool
 46  Lake Vaporators               50901 non-null  bool
 47  Landscaping Nanites           50901 non-null  bool
 48  Magnetic Extraction           50901 non-null  bool
 49  Martian Diet                  50901 non-null  bool
 50  Martian Steel                 50901 non-null  bool
 51  Martianborn Ingenuity         50901 non-null  bool
 52  Multispiral Architecture      50901 non-null  bool
 53  Nano Refinement               50901 non-null  bool
 54  Neo-Concrete                  50901 non-null  bool
 55  Neural Empathy                50901 non-null  bool
 56  Nocturnal Adaptation          50901 non-null  bool
 57  Overcharge Amplifications     50901 non-null  bool
 58  Plasma Rocket                 50901 non-null  bool
 59  Plutonium Synthesis           50901 non-null  bool
 60  Prefab Compression            50901 non-null  bool
 61  Printed Electronics           50901 non-null  bool
 62  Project Phoenix               50901 non-null  bool
 63  Rapid Sleep                   50901 non-null  bool
 64  Resilient Vegetation          50901 non-null  bool
 65  Safe Mode                     50901 non-null  bool
 66  Service Bots                  50901 non-null  bool
 67  Soylent Green                 50901 non-null  bool
 68  Space Rehabilitation          50901 non-null  bool
 69  Superconducting Computing     50901 non-null  bool
 70  Superfungus                   50901 non-null  bool
 71  Superior Cables               50901 non-null  bool
 72  Superior Pipes                50901 non-null  bool
 73  Sustained Workload            50901 non-null  bool
 74  The Positronic Brain          50901 non-null  bool
 75  Vector Pump                   50901 non-null  bool
 76  Vocation-Oriented Society     50901 non-null  bool
 77  Wireless Power                50901 non-null  bool
 78  Zero-Space Computing          50901 non-null  bool
dtypes: bool(61), int64(13), object(5)
memory usage: 10.0+ MB

In [5]:
data.describe()

,Latitude °,Longitude °,Difficulty Challenge,Altitude,Temperature,Metals,Rare Metals,Concrete,Water,Dust Devils,Dust Storms,Meteors,Cold Waves
count,50901.000000,50901.000000,50901.000000,50901.000000,50901.00000,50901.000000,50901.000000,50901.000000,50901.000000,50901.000000,50901.000000,50901.000000,50901.000000
mean,35.248227,90.249307,133.196204,-425.882576,-35.55828,2.434962,2.434962,2.207069,2.703287,1.675802,2.214416,2.120823,2.150744
std,20.352820,52.106773,34.572810,2927.879760,30.46709,0.784851,0.784851,1.141824,1.153535,0.648712,1.138605,0.971024,1.388051
min,0.000000,0.000000,100.000000,-8200.000000,-100.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,45.000000,100.000000,-3353.000000,-72.00000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
50%,35.000000,90.000000,140.000000,-121.000000,-15.00000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000
75%,53.000000,135.000000,140.000000,1840.000000,-15.00000,3.000000,3.000000,3.000000,4.000000,2.000000,3.000000,3.000000,4.000000
max,70.000000,180.000000,240.000000,21229.000000,-1.00000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [8]:
data.head()

,Latitude °,Latitude,Longitude °,Longitude,Topography,Difficulty Challenge,Altitude,Temperature,Metals,Rare Metals,...,Superconducting Computing,Superfungus,Superior Cables,Superior Pipes,Sustained Workload,The Positronic Brain,Vector Pump,Vocation-Oriented Society,Wireless Power,Zero-Space Computing
0,0,S,0,E,Relatively Flat,140,-929,-1,2,2,...,True,True,False,False,False,False,False,True,False,True
1,0,S,1,E,Relatively Flat,100,-1160,-1,2,2,...,True,False,False,False,True,False,False,False,False,False
2,0,S,1,W,Relatively Flat,100,-1160,-3,2,2,...,False,False,False,False,False,False,False,True,False,False
3,0,S,2,E,Relatively Flat,140,-1160,-1,2,2,...,True,False,True,False,False,False,False,False,False,False
4,0,S,2,W,Relatively Flat,100,-929,-3,2,2,...,True,False,False,False,False,False,True,False,False,True

Latitude, Longtitude and Altitude are special case that we will use as labels. Ignore it now

## Remove ununsed columns

In [76]:
s = (data.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical attributes")
print(object_cols)

# We need to remove unnecessary attributes in order to train the network
# Map Name, Named Location

Categorical attributes
['Latitude', 'Longitude', 'Topography', 'Map Name', 'Named Location']

In [77]:
data_dropped = data.drop(['Map Name', 'Named Location'], axis=1)
object_cols = ['Latitude', 'Longitude', 'Topography']

## One-hot encoding

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [78]:
data_encoded = data_dropped.copy()
for object_col in object_cols:
    col = pd.get_dummies(data_dropped[object_col], prefix=object_col)
    data_encoded = pd.concat([data_encoded, col], axis=1)
data_encoded.iloc[:5, -8:]

,Latitude_N,Latitude_S,Longitude_E,Longitude_W,Topography_Mountainous,Topography_Relatively Flat,Topography_Rough,Topography_Steep
0,0,1,1,0,0,1,0,0
1,0,1,1,0,0,1,0,0
2,0,1,0,1,0,1,0,0
3,0,1,1,0,0,1,0,0
4,0,1,0,1,0,1,0,0

In [72]:
# Remove categorical cols. Run only once
data_encoded = data_encoded.drop(object_cols, axis=1)

## Calculate weight for each resource

Be careful, we should generate resource map and danger map first

In [ ]:
# Bool resources

# Numerical resources

## Sum up resources by their weights